* {
    box-sizing: border-box;
   /* padding: 0; */
   /*  margin: 0; */
}

body {
    font-family: Arial; /* added */
    margin: 0; /* added */
    /* background-color: #d9dcd6; */
}

/*
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
*/

header {
    padding: 40px; /*  20px or 40px  */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    text-align: center;
    background: #2a607c; /* background: #13293d; , background-color: #2a607c */
    color: #ffffff; 
}

/*
header h1 {
    display: inline-block;
    font-size: 48px;
}
*/

/*
header h1 .seo {
    color: #d9dcd6;
}
*/

nav {
    /*
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    */
    /* added */
    display: flex;
    background-color: #d8a47f;
    display: flex;
    /* Align the child elements to the right side of the parent */
    justify-content: flex-end;
}

/* why list 
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block; 
    margin-left: 25px;
}
*/

/* added */
/*
nav a {
    color: #13293d;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  */

/* ////////// added */


main {
    /* Turns this element into a flexbox */
    display: flex;
    /* Forces elements to the next line if they don't fit */
    flex-wrap: wrap;
   /* margin-top: 2%; */ /* keep? */
}

aside {
    flex: 1; /* or 30% */
    background-color: #b9c6ae;
    padding: 80px; /* or 80 */
    /* flex-wrap: wrap; */
    text-align: center;
  }


  .samples {
    /* width: 75%; */
    /* display: inline-block; */
    /* margin-left: 20px; */
    /* added */
    flex: 4;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*
  section {
    flex: 70%;
    background-color: #fff;
    padding: 20px;
  }
  */

  /* Added rotation, box-shadow, border-radius */ 
.card {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
    transform: rotate(8deg);
    box-shadow: 10px 10px 5px #aaaaaa; 
    border-radius: 50px;
  }
/* added class used for multiple elements */
/*
.card { 
    margin-bottom: 20px;
    padding: 50px; 
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
}
*/
 
  
  /* Added border-radius to match the card */ 
  .card header {
    border-radius: 50px 50px 0px 0px; 
    padding: 20px;
  }

  /*
    .card h2 {
    margin-bottom: 20px;
    font-size: 36px;
    }
    */

  .card p {
    text-align: center;
  }
  
  .card img {
    width: 100%; 
    /* max-height: 200px; */
  }

/*
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit { 
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 { 
    margin-bottom: 10px;
    text-align: center;
}

.benefit img { 
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
*/

/* /////////////////////// added */
/* Image Placeholders */
.sample-img {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    height: 200px;
    border: 1px solid black;
  }

/* /////////////////////// end add */


.rotate { 

  transform: rotate(7deg); 
  
  } 
  
 
  /* We can use scale to stretch the photo vertically or horizontally */ 
  
  .scale { 
  
  transform: scale(1.5, 1); 
  
  } 
  
  /* We can use skew to skew the photo to the left or right */ 
  
  .skew { 
  
  transform: skew(15deg); 
  
  } 

footer {
    padding: 20px; /* or 30px */
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background: #13293d;
    color: #fff;
}

/* added to mimic h2 and bold */
.footerText { 
    font-size: 20px; /* moved here from .footer h4 */
    font-weight: bold;
}

/* removed header as was not in order and Header tags in non-header elements is not good practice */
/*
.footer h2 {
    font-size: 20px;
}
*/

/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    header {
      background: #772014;
    }

  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    nav {
      background-color: #bb8588;
    }
    /*
    .card {
        width: 50%;
    }
    */
    main,
    nav {
      flex-direction: column;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    .sample-img {
      background-color: #8ac4ff;
    }
    /*
    .card {
        width: 100%;
    }
    */
  }

