html {
  height: 100%;
}

/* Create CSS variables at the root of the document to be used throughout the style sheet */
:root {
  --white: #fff;
  --dark-blue: #13293d;
  /* You can use it with any value that is repeated throughout the sheet */
  --border-radius: 50px;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

header {
  padding: 40px;
  text-align: center;
  /* Refer to CSS values by the name of the custom property we assigned it */
  background: var(--dark-blue);
  color: var(--white);
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: #d8a47f;
}

nav a {
  color: var(--dark-blue);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: var(--white);
  color: var(--dark-blue);
}


.group {
      /* width: 75%; */
    /* display: inline-block; */
    /* margin-left: 20px; */
    /* added */
    display: flex;
    justify-content: flex-start;
    /* flex: 4; */
    padding: 20px;
    /* flex-wrap: wrap; */
}

.lSide, .rSide {
  /*flex-direction: column;*/
  /* display: block; */
  /*height:100%; */
  /*background-color: #d8a47f; */
  /*flex: 1; */  /* or 30% */
  padding: 20px;
  /* flex-wrap: wrap; */
  /*text-align: left; */
  /*border-right: solid black; */
}

#mainProject {
  width: 100%;
  /* width: 600px; */
  border: solid;
  border-color: pink;
}

main {
  display: flex;
  flex-wrap: wrap;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: var(--dark-blue);
  color: var(--white);
  margin-top: auto;
}

.samples {
  flex: 1;
  background-color: var(--white);
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius);
  padding: 10px;
  flex: 0 0 300px;
  /*transform: rotate(8deg); */
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 20px;
}

.card > header {
  /* This is the same as `border-radius: 50px 50px 0 0 */
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  padding: 20px;
}

.card > p {
  text-align: center;
}

.card > img {
  width: 100%;
}

/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  header {
    background: #13293d;
  }

}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }

  .card {
      width: 50%;
  }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  .sample-img {
    background-color: #8ac4ff;
  }

  .card {
      width: 100%;
  }
 
}